{% extends 'base.html' %} {% block content %}

<div class="login-form">
  <h1>{% block title %} Login {% endblock %}</h1>
  <h3>{{ data | safe }}</h3>
  <form action="/login" method="POST">
    <div class="control-group">
      <input
        type="text"
        class="login-field"
        value=""
        placeholder="admin@test.com"
        name="username"
        autocomplete="off"
      />
      <label class="login-field-icon fui-user" for="login-name"></label>
    </div>
    <div class="control-group">
      <input
        type="password"
        class="login-field"
        value=""
        placeholder="password"
        name="password"
        autocomplete="off"
      />
      <label class="login-field-icon fui-lock" for="login-pass"></label>
    </div>
    <input
      type="submit"
      value="Log in"
      class="btn btn-primary btn-large btn-block"
    />
  </form>
  <br />
  <br />

  <a href="{{ url_for('register') }}">Register new User</a>

  {% endblock %}
</div>
